.book-now-btn {
  position: fixed;
  top: 25%;
  left: 85%;
  /* transform: translate(-50%, -50%); */
  z-index: 9999;

  background: #ff6a00;
  color: #fff;
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: transform 0.2s ease, background 0.2s ease;
}

.book-now-btn:hover {
  background: #e65c00;
  transform: translate(-5%, -5%) scale(1.05);
}
